/* Card.css */
#card {
    border: 1px solid #a8a4a4;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    /* width: 70vw; */
    align-items: center;
    width:100%;  /* This will ensure the card takes full width of its container */
    height: auto; /* Height should adjust automatically based on content */
}
#CardImage{
    flex: 0 0 40%;
    flex-basis: 40%;
}
img{
    width: 100%; /* Ensure the image takes up the full container width */
    height: auto; /* Maintain image aspect ratio */
    border-radius: 25px;
}
#content {
    flex: 1; /* Content takes the remaining space (60% in this case) */
    padding: 15px; /* Add some padding to make it look better */
}

h3{
    font-size: 1.5rem;
}

#card:hover {
    background-color: #fffdbb;
}